.img {
	width: 240px;
}
@media (max-width: 600px) {
	.img {
		width: 44px;
		height: auto;
	}
}

@media (min-width: 601px && max-width: 1200px) {
	.img {
		width: 200px;
	}
}

.copy {
	margin: 0 0 0 10px !important;
	padding: 9px !important;
	color: #fff !important;
}

@media (max-width: 601px) {
	.copy {
		margin-top: 10px !important;
		margin-left: 0px !important;
	}
}
/*
@media (max-width: 9999px) {
	.copy {
		margin-left: 10px;
	}
}
*/
.icon-container {
	display: inline;
	position: absolute;
}

@media (max-width: 601px) {
	.icon-container {
		display: block !important;
		position: absolute;
		/*height: 0px;*/
	}
}

.modal-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.9);
	/*width: 800;*/
	background-color: rgb(26, 27, 32);
	/*border: 2px solid #000;*/
	box-shadow: 24;
	padding: 28px;
	color: white;
	border-radius: 22px;
}

@media (max-width: 601px) {
	.modal-box {
		position: relative;
		/*height: 0px;*/
	}
}

.table {
	min-width: 650px;
}

@media (max-width: 601px) {
	.table {
		min-width: 100%;
	}
}

.footer {
	font-size: larger;
	margin: 8px;
}

@media (max-width: 601px) {
	.footer {
		font-size: smaller;
	}
}

.link {
	color: white !important;
	padding: 0.175rem;
	margin: 0.15rem;
	cursor: pointer;
	font-size: 0.975rem;
	text-decoration: none;
}

.subnav-content {
	display: none;
	position: absolute;
	z-index: 1;
	width: 20%;
	background-color: red;
	left: 40%;
}

.subnav:hover .subnav-content {
	display: block;
}

#basic-button {
	font-size: 0.975rem;
	font-weight: 500;
	margin-left: 2px;
}

/*.disable {
	color: gray # !important;
}
*/
