* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif !important;
}

.main-section {
	min-height: calc(100vh - 160px);
}

section {
	padding: 32px 0;
}

.container {
	padding-left: var(--bs-gutter-x, 20px);
	padding-right: var(--bs-gutter-x, 20px);
	box-sizing: border-box;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
